.landing {
    background-image: url("../../imgs/campus.jpg");
    height: 100vh; 
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
	text-align: center;
}

#hi {
    position: relative;
    top: 15vh;
    right: 35vh;
    
    font-size: 500%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 1px;
}

#im {
    position: relative;
    top: 25vh;
    
    font-size: 600%;
    font-family: 'Oregano', cursive;
    font-weight: 800;
    letter-spacing: 1px;
    font-weight: 500;
}

#student {
    position: relative;
    top: 28vh;

    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
}

#links {
	position: relative;
	top: 40vh;
}

.links-icon {
	height: 2.5%;
	width: 2.5%;
	margin: 2%;
}

.personal-statement {
    background-color: #EF6E69;
    height: 150px;
}