.personal-statement {
    background-color: #005862;/*#383838;#0a3439;*/
    height: auto;
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 110%;
    color: white; /*#303030;*/
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}


  