#timeline-section {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
}

#timeline {
    width: 15px;
    height: 2000px;
    background-color: lightgray;
    margin: 0 auto;
    position: relative;
}

#timeline-container {
    height: 2000px;
    margin: 0 auto;
    position: relative;
}


.bar {
    width: 15px;
    position: absolute;
    margin: 0 auto;
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.academic {
    background-color: #24BDCF;
}

.recreation {
    background-color: #F5BF00;
}

.work {
    background-color: #EF6E69;
}

/* stuff for entry view */
#entry-view{
    width: 100%;
    height: 20px;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
}

#description {
    padding-top: 5%;
    font-size: 110%;
}

#reflection {
    padding-top: 5%;
    padding-bottom: 50px;
    font-size: 110%;
}

#entry{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 5%;
}

h3 {
  font-size: 150%;
  padding: 0px;
  margin: 0px;
}

#close-img {
  max-width:7%;
  height:auto;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

#meta-info {
  font-size: 120%;
}

#example-circle-academic {
    background-color: #24BDCF;
    width: 10px;
    height: 10px;
    border-radius: 25px;
}

#example-circle-work {
    background-color: #EF6E69;
    width: 10px;
    height: 10px;
    border-radius: 25px;
}

#example-circle-extracurricular {
    background-color: #F5BF00;
    width: 10px;
    height: 10px;
    border-radius: 25px;
}

#drop-down{
    position: relative;
    right: 25%;
    padding-top: 3%;
}


