body {
    font-family: 'Mulish', sans-serif;
    height: auto;
}

#landing {
    background-color: #0C63E7;
    min-height: 100vh;
    min-width: 100%;
    color: white;
    position: relative;
    animation-name: landing-text-color;
    animation-duration: 1.5s;
}

#intro {
    width: 60%;
    margin: auto;
    position: relative;
    top: 20vh;
    animation-name: landing-intro-position;
    animation-duration: 2s;
    
}

#greeting {
    font-size: 48px;
    padding: 3vh;
}

#description {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    padding: 3vh;
}

.square {
    background-color: #07C8F9;
    opacity: 40%;
    position: absolute;
}

#first-square {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10vh;
    left: 5vw;
    animation-name: big-squares;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

#second-square {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 15vh;
    right: 5vw;
    animation-name: big-squares;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

#third-square {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10vh;
    right: 15vw;
    animation-name: small-squares;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

#fourth-square {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5vh;
    left: 15vw;
    animation-name: small-squares;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

footer {
    font-size: 12px;
    position: relative;
    margin-top: 5%;
    left: 5%;
}

#down-arrow {
    width: 100px;
    display: block;
    margin: 25vh auto 10vh auto;
    animation-name: down-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-delay: 2s;
}

#down-arrow:hover {
    filter: brightness(80%)
}

#social-media-icons {
    text-align: center;
    height: 50px;
    animation-name: landing-icons-color;
    animation-duration: 2s;
}

.social-media-icon {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 30px;
    height: 30px;
}

.social-media-icon:hover {
    filter: brightness(80%)
}

#project-section {
    padding-top: 5%;
}

.skills-pill {
    height: 25px;
    margin: 0 1% 1% 1%;
    background-color: #0C63E7;
    color: white;
    text-align: center;
    font-weight: 200;
    border-radius: 3%;
    position: relative;
    padding: 0% 3% 0% 3%;

}

.skills-pill:hover {
    background-color: #07C8F9;
    color: black;
}

.skills-pill:hover .cross {
    display: inline;
}

.skills-pill .cross {
    display: none;
}

#show-all {
    padding: 0% 2% 0% 2%;
}

#show-all:hover {
    background-color: lightgray;
}

.cross {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10%;
    top: 30%;
}

.card {
    background-size: 100% auto;
    background-repeat: no-repeat; 
    color: #ffffff00;
}

.card.vertical {
    height: 300px;
}

.card.horizontal {
    height: 200px;
}

a { 
    width: 30%;
    height: 250px;
    margin: 10px;
}

.card-overlay {
    width: 100%;
    height: 100%;
}

.card-overlay:hover {
    background-color: white;
    opacity: 50%;
}

.card:hover {
    color: black;
}

.card-text {
    opacity: 100%;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 18px;
}

#project-cards {
    position: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#skills-filter {
    position: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

/* animations */
@keyframes down-arrow {
    from {margin-top: 25vh; margin-bottom:10vh}
    to {margin-top: 27vh; margin-bottom:8vh}
}

html {
    scroll-behavior: smooth;
  }

@keyframes big-squares {
    from {width: 150px; height: 150px;}
    to {width: 153px; height: 153px;}
}

@keyframes small-squares {
    from {width: 100px; height: 100px;}
    to {width: 103px; height: 103px;}
}

@keyframes landing-text-color {
    from {color: #00000000;}
    to {color: white;}
}

@keyframes landing-icons-color {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes landing-greeting-position {
    from {top: 25vh;}
    to {top: 20vh;}
}

@keyframes landing-intro-position {
    from {top: 25vh;}
    to {top: 20vh;}
}

/* media queries */

@media screen and (max-width: 600px) {
    
    #landing{
        display: none;
    }
}

@media screen and (max-width: 5000px) {
    
}
