body {
    font-family: 'Mulish', sans-serif;
    height: auto;
}

#landing {
    background-color: #0C63E7;
    min-height: 100vh;
    min-width: 100%;
    color: white;
    position: relative;
    margin-bottom: 5%;
}

#intro {
    width: 60%;
    margin: auto;
    position: relative;
    top: 20vh;
}

#greeting {
    font-size: 36px;
    padding: 3vh;
}

#description {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    padding: 3vh;
}

.square {
    background-color: #07C8F9;
    opacity: 40%;
    position: absolute;
}

#first-square {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10vh;
    left: 5vw;
}

#second-square {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 15vh;
    right: 5vw;
}

#third-square {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10vh;
    right: 15vw;
}

#fourth-square {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5vh;
    left: 15vw;
}

.social-media-icon {
    width: 30px;
    height: 30px;
}

footer {
    font-size: 12px;
    position: relative;
    margin-top: 5%;
    left: 5%;
}

#down-arrow {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
}

#social-media-icons {
    text-align: center;
}

.social-media-icon {
    margin-left: 5vw;
    margin-right: 5vw;
}

.skills-pill {
    height: 25px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #0C63E7;
    color: white;
    text-align: center;
    font-weight: 200;
    border-radius: 3%;
    position: relative;
    padding: 0% 3% 0% 3%;

}

.skills-pill:hover {
    background-color: #07C8F9;
    color: black;
}

.skills-pill:hover .cross {
    display: inline;
}

.skills-pill .cross {
    display: none;
}

#show-all {
    padding: 0% 2% 0% 2%;
}

#show-all:hover {
    background-color: lightgray;
}

.cross {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10%;
    top: 30%;
}

.card {
    background-size: 100% auto;
    background-repeat: no-repeat; 
    color: #ffffff00;
}

.card.vertical {
    height: 300px;
}

.card.horizontal {
    height: 200px;
}

.card {
    width: 30%;
    height: 250px;
    margin: 10px;
}

.card-overlay {
    width: 100%;
    height: 100%;
}

.card-overlay:hover {
    background-image: linear-gradient(transparent, white);
    opacity: 50%;
}

.card:hover {
    opacity: 80%;
    color: black;
}

.card-text {
    opacity: 100%;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 18px;
}

#project-cards {
    position: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#skills-filter {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
    
    #landing{
        display: none;
    }
}

@media screen and (max-width: 5000px) {
    
}
