body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    text-align: center;
    padding: 2% 0 1% 0;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#project-image:hover {
    opacity: 60%;
}

#content div {
    padding: 15px 20px 15px 20px;
}

#content p {
    padding: 10px;
}

#content a {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#content #skills .skills-pill {
    height: 25px;
    line-height: 25px;
    margin: 0% 1% 0% 1%;
    background-color: #0C63E7;
    color: white;
    text-align: center;
    font-weight: 200;
    border-radius: 3%;
    position: relative;
    padding: 0% 1% 0% 1%;
}

#project-image img {
    text-align: center;
    border: lightgray 1px solid;
}

.hortizontal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.vertical {
    width: 100%;
}

body {
    padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
    .hortizontal {
        width: 100%;
    }
    
    .vertical {
        width: 100%;
    }

    #content div {
        padding: 5px 0px 5px 0px;
    }
}

