body {
    font-family: 'Mulish', sans-serif;
    height: auto;
}

#landing {
    background-color: #0C63E7;
    min-height: 100vh;
    min-width: 100%;
    color: white;
    position: relative;
}

#intro {
    width: 60%;
    margin: auto;
    position: relative;
    top: 20vh;
}

#greeting {
    font-size: 36px;
    padding: 3vh;
}

#description {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    padding: 3vh;
}

.square {
    background-color: #07C8F9;
    opacity: 40%;
    position: absolute;
}

#first-square {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10vh;
    left: 5vw;
}

#second-square {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 15vh;
    right: 5vw;
}

#third-square {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10vh;
    right: 15vw;
}

#fourth-square {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5vh;
    left: 15vw;
}

.social-media-icon {
    width: 30px;
    height: 30px;
}

footer {
    font-size: 12px;
    position: relative;
    margin-top: 5%;
    left: 5%;
}

#down-arrow {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
}

#social-media-icons {
    text-align: center;
}

.social-media-icon {
    margin-left: 5vw;
    margin-right: 5vw;
}

#project-section {
    background-color: pink;
    height: 100px;
    width: 100px;
    position: relative;
}

@media screen and (max-width: 600px) {
    
    #landing{
        display: none;
    }
}

@media screen and (max-width: 5000px) {
    
}
